*{
 margin: 0;
 padding: 0;
}
body{
 background: rgba(0,0,0,0.90);
 color: #fff;
}
.nav{
 display: flex;
 background: #111;
 height: 40px;
 color: #fff;
 z-index: 900;
 padding: 8px;
}
#Name{
 color: #444;
 pointer-events: none;
 text-decoration: underline;
 text-decoration-color: #ccc;
}
#login{
 position: absolute;
 right: 90px;
 top: 20px;
 color: #eee;
 text-decoration: none;
}
#sign-up{
 position: absolute;
 right: 10px;
 top: 13px;
 color: #eee;
 text-decoration: none;
 background: #444;
 border-radius: 7px;
 padding: 4px;
}