*{
 font-family: Arial,Sans-Serif,Times New Roman,Serif;
 margin: 0;
 padding: 0;
}
body{
 display: flex;
 justify-content: center;
 background: #333;
}
.form{
 background: #111 20%;
 height: 270px;
 width: 270px;
 margin-top: 8%;
 justify-content: center;
 padding: 10px;
}
h2{
 color: #fff;
 margin-left: 30%;
 margin-bottom: 10%;
}
input{
 border-radius: 5px;
 background: #333;
 color: #ccc;
 padding: 3px;
 margin-top: 5px;
 margin-left: 14%;
}
#Login-btn{
 margin-top: 10px;
 margin-left: 26%;
 background: #333;
 color: #fff;
 height: 30px;
 width: 100px;
 border-radius: 10px;
 content: Login;
}
